## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,New Norfolk,AU,56.70,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
1,1,Port Blair,IN,80.64,haze,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
2,2,Bluff,NZ,51.80,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,3,Te Anau,NZ,44.65,broken clouds,-45.4167,167.7167,Kingsgate Hotel Te Anau
4,5,Ushuaia,AR,51.42,broken clouds,-54.8000,-68.3000,Albatross Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [87]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="San Jose")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="San Jose")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Lompoc")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Saint George")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Susanville")]
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
444,521,San Jose,US,62.2,clear sky,37.3394,-121.895,The Westin San Jose

In [89]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])
print(start, end, stop1, stop2, stop3)

(37.3394, -121.895) (37.3394, -121.895) (34.6391, -120.4579) (37.1041, -113.5841) (40.4163, -120.653)

In [90]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING',
        #optimize waypoints attempt to re-order supplied waypoints to minimize overall cost of the route
        optimize_waypoints=True
        )
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [91]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,521,San Jose,US,62.20,clear sky,37.3394,-121.8950,The Westin San Jose
1,88,Lompoc,US,64.56,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
2,517,Saint George,US,49.35,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
3,524,Susanville,US,28.24,clear sky,40.4163,-120.6530,Comfort Inn & Suites

In [92]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [86]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))